/* ..............SET_UP_DEFAULT............ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  background: #efefef;
  overflow-x: hidden;
  overflow-y:overlay !important;
}
.container-fluid {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(241, 241, 241, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136, 0.8);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .............REUSEABLE_COMPONENT............ */
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 150%;
  font-weight: 900;
  margin: 0;
}
input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 2%;
  margin-right: 5%;
}
/* ..............NAV_BAR................. */
.nav_bar {
  background: white;
  padding: 15px 40px;
  margin-bottom: 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.nav_bar a {
  color: black;
  width: fit-content;
  display: inline-block;
  display: flex !important;
  align-items: center;
}
#menu,
.menu-toggle-selection span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  background: white;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-5%, 15%);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 15px;
  z-index: 100;
}
@media only screen and (max-width: 562px) {
  #menu-toggle{
    width:325px;
  }
}
#menu-toggle li {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
#menu-toggle li:hover {
  background: rgba(206, 206, 206, 0.2);
}
#menu-toggle li a {
  width: 100%;
  padding: 5px 8px;
}
#avatar {
  margin-right: 20px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#user div span {
  display: block;
}
#menu-toggle hr {
  background: black;
  height: 1px;
  margin: 0;
}
.menu-toggle-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-toggle-selection span {
  margin-right: 10px;
}
.menu-toggle-selection i {
  font-size: 22px;
}
/* ..............PRODUCT.................... */
.product {
  padding: 20px;
  margin-top: 50px;
}
/* ...............MARK_SCREEN.......... */
/* ......<div class = wrap_body></div>........... */
.wrap_body {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
