/* ....................................... */
.job_detail {
  position: fixed;
  top: 10%;
  right: 30%;
  width: 40%;
  height: 500px;
  background: white;
  border-radius: 10px;
  z-index: 100000000;
  padding: 20px 2% 20px 2%;
  display: none;
}
.job_detail_close {
  position: absolute;
  font-size: 150%;
  font-weight: 500;
  right: 30px;
  color: grey;
  display: block;
  text-align: right;
  margin-bottom: 0;
  cursor: pointer;
}
.job_detail_close:hover {
  color: red;
}
.job_detail_action {
  position: absolute;
  right: 40px;
  top: 80px;
}
.job_detail_action svg {
  width: 32px;
  color: #83838e;
  border-radius: 8px;
  border: 1px solid #83838e;
  padding: 6px;
  cursor: pointer;
}
.job_detail_action svg:last-child {
  margin-left: 12px;
}
.job_detail_action svg:hover {
  color: red;
}
.job_detail h1 {
  font-weight: 600;
  font-size: 150%;
  margin-top: 10px;
}
.job_detail h2 {
  font-weight: 600;
  font-size: 130%;
}
.job_detail_tag {
  margin: 10px 0 20px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #83838e;
  display: flex;
  justify-content: space-between;
}
.job_detail_tag div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 20px;
  border-right: 1px solid #83838e;
}
.job_detail_tag div:last-child {
  border-right: 0;
}
.job_detail_tag div span:first-child {
  font-size: 90%;
  color: #83838e;
  font-weight: 300;
}
.job_detail_apply {
  width: 100%;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 130%;
  background: #0162ff;
  color: white;
  position: absolute;
  top: 95%;
  left: 0;
}
@media (min-width: 1600px) {
  .job_detail {
    height: 600px;
    font-size: 20px;
  }
  .job_detail_image {
    width: 70px !important;
    height: 70px !important;
  }
  .job_detail_overview {
    margin-bottom: 30px;
  }
}
@media (min-width: 1800px) {
  .job_detail {
    height: 700px;
    font-size: 24px;
  }
  .job_detail_image {
    width: 80px !important;
    height: 80px !important;
  }
}
@media only screen and (max-width: 1201px) {
  .job_detail {
    right: 25%;
    width: 50%;
  }
}
@media only screen and (max-width: 786px) {
  .job_detail {
    right: 15%;
    width: 70%;
  }
}
@media only screen and (max-width: 562px) {
  .job_detail {
    right: 0;
    width: 100%;
  }
}
