#font-size14 {
  font-size: 14px;
}

/* NAV_BAR_ACTIVE */
.nav_bar_icon {
  color: #0162ff;
}

/* Sidebar */
.user-sidebar {
  border-radius: 6px;
}
.user-sidebar a{
  cursor: pointer;
}

.sidebar-posted-jobs,
.sidebar-personal-info {
  border-color: #efefef;
}

/* Posting Job Modal */

#posted-job-description {
  height: 125px;
  resize: none;
}

#modal-posted-job-submit {
  width: 120px;
}

/* Change Avatar */
.cover-photo-div {
  background-image: url(https://lh3.googleusercontent.com/proxy/TFEHYb9IaAEpoXdHVswzV2aMX0NiXrjMOlvhzNp5aBNqzB1QK6sP2Ze2I9LLdS1GiM-9Tgai2lmCj6OG0MBkJla0z3554O0YKrn6GU2Iuzdw9jj_1LAF9A_Z6Vk4jxDgs4X43pImaEg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 6px;
}
.avatar {
  border: 4px solid white;
  margin-bottom:10px;
  width: 160px;
  height: 160px;
}
.avatar-overlay{
  cursor: pointer;
  position: absolute;
  top:0;
  border-radius: 50%;
  z-index: 0;
  width: 160px;
  height: 160px;
  background: black;
  opacity: 0;
}
.avatar-overlay:hover{
  opacity: .1;
}
.add-photo-icon {
  cursor: pointer;
  position: absolute;
  background: #e4e6eb;
  padding: 8px;
  border-radius: 50%;
  left: 120px;
  top: 115px;
  font-size: 18px;
  z-index:5;
}
.add-photo,
.add-cover-photo {
  background: white;
  padding: 7px;
  height: fit-content;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
.add-photo {
  left: 0;
  top: 170px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.add-cover-photo {
  right: 20px;
  top: 20px;
  padding-left:10px;
  padding-right: 5%;
}
.add-cover-photo:hover {
  background: #ebedf0;
}
.add-photo div {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 5px;
  padding: 5px 50px 5px 10px;
}
.add-photo div:hover {
  background: #ebedf0;
}
.upload-photo-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: min(500px, 90%);
  background: white;
  height: 450px;
  padding: 50px;
  padding-top: 20px;
}
.avatar-preview {
  width: 250px;
  height: 250px;
}
